# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url 'https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc' 'sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM='
fi
watch_file flake.nix
watch_file nix/datamunge.nix
watch_file nix/pydatamunge.nix
watch_file nix/datamungejs.nix
watch_file nix/datamungetcl.nix
watch_file nix/octruby.nix
watch_file nix/datamungelua.nix
watch_file nix/datamungeocaml.nix
watch_file nix/datamungeguile.nix
watch_file nix/datamungeoctave.nix
watch_file nix/datamunged.nix
use flake path:.
