*.svg
*.dll
*.o
*.a
.direnv
.cache
*.so
node_modules
build
**/__pycache__
compile_commands.json
.dub
**/.dub
datamungedotnet/bin
datamungedotnet/obj
datamungedotnet.tests/bin
datamungedotnet.tests/obj
./buildSrc/.gradle/
.gradle
dist
src/pydatamunge.egg-info
result
_build
.merlin
bindings_tests/rust/target
bindings/rust/target
rustdatamunge/target
datamunged/libdatamunged.a
**/.null-ls*

src/rustdatamunge/target
src/datamungedotnet/bin
src/datamungedotnet/obj

src/datamungedotnet.tests/bin
src/datamungedotnet.tests/obj
tests/rust/target
target
src/octruby/ext/octruby/Makefile
src/octruby/ext/octruby/mkmf.log

# editor/OS noise
*~
\#*\#
.\#*
.DS_Store

examples/ocaml/datamunge_ex.cmi
examples/ocaml/datamunge_ex.cmx
